build:
  type: text
  content: |-
    #!/bin/sh

    cd $ROOST_WORK_DIR/git/Garvit-Jethwani/ballot
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot
deploy:
  type: text
  content: |
    #/bin/sh
test:
  - name: ballot
    configType: custom
    customType: file
    configPath: ballot/curl.json
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-07-28T07:19:31.489Z
