build:
  type: text
  content: |
    #!/bin/sh

    cd $ROOST_WORK_DIR/git/Garvit-Jethwani/ballot
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot
deploy:
  type: text
  content: |+
    #/bin/sh



test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
deleted: "True"
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-07-22T11:41:47.360Z
