build:
  type: text
  content: |-
    #!/bin/sh

    cd $ROOST_WORK_DIR/git/Garvit-Jethwani/ballot
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot
deploy:
  type: text
  content: |
    #/bin/sh
test:
  - name: ballot
    configType: custom
    customType: commands
    url: http://ballot-pr-open-116.ecserver.13.126.128.44.nip.io/
    requestType: GET
    header: ""
    body: ""
    status: "200"
    response: ""
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-07-22T16:21:22.750Z
