build:
  type: text
  content: |
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Garvit-Jethwani/ballot
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot
deploy:
  type: text
  content: |+
    #!/bin/sh

test:
  - name: ballot1
    configType: custom
    customType: commands
    url: https://reqres.in/api/users
    requestType: POST
    header: Content-Type:application/json
    body: '{"name":"Garvit"}'
    status: "202"
    response: ""
Last Updated By: Garvit Jethwani
Last Updated On: 2022-07-13T10:35:07.326Z
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-07-22T11:04:33.436Z
