build:
  type: External_Build
  content: nrt1
deploy:
  type: text
  content: |+

test:
  - name: ballot
    configType: custom
    customType: commands
    url: '{{.ROOST_SVC_URL}}/tests/run'
    requestType: GET
    header: 'Accept: application/json'
    body: ''
    status: '200'
    response: ''
  - name: ballot
    configType: postman
    configPath: ballot/test/ballotPostman.json
  - name: ballot
    configType: cypress
    configPath: ballot/test/test.yaml
uninstall:
  type: None
  content: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-19T04:14:12.705Z
