build:
  type: text
  content: |-
    #!/bin/sh


    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+


test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ballot/ingress.yaml
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2023-01-12T12:21:46.113Z
