build:
  type: text
  content: |
    #/bin/sh
    check
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: External_Build
  content: ''
dockerCompose: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2023-03-14T18:36:26.267Z
