build:
  type: External_Build
  content: nrt1
deploy:
  type: text
  content: |+

test:
  - name: ballot
    configType: postman
    configPath: ballot/test/ballotPostman.json
  - name: ballot
    configType: cypress
    configPath: ballot/test/test.yaml
uninstall:
  type: External_Build
  content: '#!/bin/sh'
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-17T05:21:57.201Z
