build:
  type: thirdParty
  content: nrt5
deploy:
  type: text
  content: |+
    #/bin/sh

test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: thirdParty
  content: '#!/bin/sh'
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-09-21T13:37:57.156Z
