build:
  type: External_Build
  content: nrt1
deploy:
  type: text
  content: |+
    #/bin/sh

test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: thirdParty
  content: '#!/bin/sh'
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-09-27T13:33:48.127Z
