build:
  type: text
  content: |
    #/bin/sh
    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot
deploy:
  type: text
  content: |
    #/bin/sh
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},namespace=${ROOST_NAMESPACE},registry=local-registry",tag=latest
    helm upgrade garvittest12-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: thirdParty
  content: '#!/bin/sh'
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-10-13T12:02:32.847Z
